apiVersion: apps/v1
kind: Deployment
metadata:
  name: wanderlust-backend
spec:
  template:
    spec:
      containers:
        - name: backend
          image: aditidangale/wanderlust-backend:PLACEHOLDER

