apiVersion: apps/v1
kind: Deployment
metadata:
  name: wanderlust-frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: aditidangale/wanderlust-frontend:PLACEHOLDER

