apiVersion: apps/v1
kind: Deployment
metadata:
  name: wanderlust-backend
  namespace: wanderlust
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: aditidangale/wanderlust-backend:40
        ports:
        - containerPort: 5000

        env:
        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: wanderlust-secrets
              key: MONGODB_URI

        - name: REDIS_URL
          value: "redis://redis-service:6379"

        resources:
          limits:
            memory: "128Mi"
            cpu: "100m"
          requests:
            memory: "256Mi"
            cpu: "250m"

        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 15
          failureThreshold: 5

        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10


