apiVersion: apps/v1
kind: Deployment
metadata:
  name: wanderlust-backend
  namespace: wanderlust
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: aditidangale/wanderlust-backend:40
        ports:
        - containerPort: 5000

        env:
        - name: MONGO_USER
          valueFrom:
            secretKeyRef:
              name: wanderlust-secrets
              key: MONGO_INITDB_ROOT_USERNAME

        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: wanderlust-secrets
              key: MONGO_INITDB_ROOT_PASSWORD

        - name: MONGODB_URI
          value: "mongodb://$(MONGO_USER):$(MONGO_PASSWORD)@mongo-service:27017/wanderlust?authSource=admin"

        - name: REDIS_URL
          value: "redis://redis-service:6379"

        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"

        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 15
          failureThreshold: 5

        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10

